@model TicketOnline.Models.PassengerViewModel
@{
    ViewBag.Title = "Trang Chủ";
}

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
-->

<div class="row">

    <!--Un-Use code-->
    <!--<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
    @using (Html.BeginForm("GetInformation", "Information", FormMethod.Post, new { @class = "form-horizontal", role = "form", @name="passenger",@id= "passenger" }))
    {



        @*@Html.ValidationSummary(true)*@
        @*@Html.AntiForgeryToken()*@
        <h4>Thông tin đăng ký - hành khách</h4>
        <hr />
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

        <div class="form-group">
            <label for="Hour" class="col-md-2 control-label">Tên</label>
            <div class="col-md-10">
                <input type="text" name="FirstName" id="FirstName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="LastName" class="col-md-2 control-label">Họ</label>
            <div class="col-md-10">
                <input type="text" name="LastName" id="LastName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="Phone" class="col-md-2 control-label">Số điện thoại</label>
            <div class="col-md-10">
                <input type="number" name="Phone" id="Phone" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="Email" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="text" name="Email" id="Email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="StartDate" class="col-md-2 control-label">Ngày khởi hành</label>
            <div class="col-md-10">
                <input type="text" name="StartDate" id="StartDate" class="form-control date-picker" />
            </div>
        </div>
        <div class="form-group">
            <label for="Hour" class="col-md-2 control-label">Giờ khởi hành</label>
            <div class="col-md-10">
                <select id="Hour" class="form-control" name="Hour">
                    <option value="8:00">8:00</option>
                    <option value="13:30">13:30</option>
                    <option value="20:00">20:00</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Tiếp tục" />
            </div>
        </div>
        }

</div>
